<div class="table-container">
  <h2 class="title">CapTicket</h2>

  <div class="add-event-button">
    <button mat-raised-button color="primary" [routerLink]="['/add']">
      Añadir Evento
    </button>
  </div>

  <ng-container *ngIf="isLoading; else dataTable">
    <div class="skeleton-loader">
      <mat-spinner></mat-spinner>
      Cargando eventos...
    </div>
  </ng-container>

  <ng-template #dataTable>
    <div *ngIf="errorMessage; else table">
      <!-- Mensaje de error -->
      <div class="error-message">
        {{ errorMessage }}
      </div>
    </div>

    <ng-template #table>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Columnas -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let evento"> {{ evento.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let evento"> {{ evento.nombre }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fechaEvento">
          <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let evento">{{
            evento.fechaEvento | date : "shortDate"
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="precioMinimo">
          <mat-header-cell *matHeaderCellDef> Precio Mínimo </mat-header-cell>
          <mat-cell *matCellDef="let evento">{{
            evento.precioMinimo | currency
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="precioMaximo">
          <mat-header-cell *matHeaderCellDef> Precio Máximo </mat-header-cell>
          <mat-cell *matCellDef="let evento">{{
            evento.precioMaximo | currency
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="precio">
          <mat-header-cell *matHeaderCellDef> Precio Actual </mat-header-cell>
          <mat-cell *matCellDef="let evento">{{
            evento.precio | currency
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="localidad">
          <mat-header-cell *matHeaderCellDef> Localidad </mat-header-cell>
          <mat-cell *matCellDef="let evento"> {{ evento.localidad }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let evento">
            <button mat-icon-button color="primary" aria-label="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </ng-template>
  </ng-template>
</div>
