.table-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
  color: #3f51b5;
}

.skeleton-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px);
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
.add-event-button {
  margin-bottom: 40px;  
}
.add-event-button button {
  font-size: 18px; 
  background-color: #45a049;  
  color: white;
}
.add-event-button button:hover {
  background-color: #4CAF50;  
  color: #f0f0f0; 
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clickable-row:hover {
  background-color: #f1f1f1;
}